<header>
  <div class="keep-clear"></div>
  <div class="icon-bar">

    <div class="icon">
      <a href="/"><img src="/images/left.svg"></a>
    </div>

    <div class="icon">
      <a href="/manageusers"><img src="/images/settings.svg"></a>
    </div>

    {{#if session}}
    <div class="icon">
      <img src="/images/user.svg"><br>
      <label id="whoami">{{session.name}}</label>
    </div>

    <div class="icon">
      <a href="/logout"><img src="/images/sign-out.svg"></a>
    </div>
    {{/if}}

  </div>
  <h1>search</h1>
  <p>Enter your search criteria to limit results:</p>
</header>

<div class="container">
  <form action="/selectMainCriteria" method="POST">
    <label class="labels">request by</label>
    <select name="selectNow" oninput="this.form.submit()">

      <option></option>
      <option value="sap_code">SAP Code</option>
      <option value="mms_outlet_id">Outlet ID</option>

    </select>
    <!--<button type="submit">change</button> -->

  </form>
</div>
{{#if searchCriteria}}
<form action="/search" method="POST" class="input container">
  <div class="single-item">

    </select>
  </div>

  <div class="break"></div>

  <div class="single-item">
    <label for="org_entity_ids" class="labels">orga entities</label>
    <select multiple name="org_entity_ids" size="7">

      {{#each outlets}}

      <option value="{{this.ident}}">{{this.ident}} {{this.name}}</option>

      {{!-- <optgroup label="NDC"> 
        <option value="4901" selected>4901 Geis Germany</option>
       </optgroup>
       <optgroup label="Online Stores">
        <option value="M860">M860/1125 MM Online</option>
        <option value="S802">S802/1015 SE Online</option>
       </optgroup>
       <optgroup label="Stores">
        <option value="M001">M001 MEDIA MARKT Ingolstadt</option>
        <option value="S001">S001 SATURN Hannover</option>
       </optgroup>--}}

      {{/each}}

    </select>
  </div>

  <div class="single-item">
    <label for="warehouse_glns" class="labels">Warehouse GLNs</label>
    <textarea cols="25" rows="6" name="warehouse_glns" placeholder="insert one or more in new lines"></textarea>
  </div>

  <div class="single-item">
    <label for="storage_locations" class="labels">storage locations</label>
    <select multiple name="storage_locations" size="7">
      <option value="WH" selected>Warehouse</option>
      <option value="CD1">CrossDocking 1 pre-allocated (PAXD)</option>
      <option value="CD2">CrossDocking 2 break bulk (BBXD)</option>
      <option value="QIS">Quality Inspection / Clearing</option>
      <option value="SCP">Scrap / for disposal</option>
      <option value="RTV">Return To Vendor</option>
    </select>
  </div>

  <div class="single-item">
    <label for="stock_types" class="labels">stock types</label>
    <select multiple name="stock_types" size="7">
      <option value="unrestricted_use_stock" selected>unrestricted_use_stock</option>
      <option value="stock_in_quality_inspection">stock_in_quality_inspection</option>
      <option value="returns">returns</option>
      <option value="stock_transfers_between_storage_locations">stock_transfers_between_storage_locations</option>
      <option value="stock_transfers_between_warehouses">stock_transfers_between_warehouses</option>
      <option value="stock_in_transit">stock_in_transit</option>
      <option value="blocked_stock">blocked_stock</option>
    </select>
  </div>

  <div class="single-item">
    <label for="product_mdng_ids" class="labels">Masterdata product ids</label>
    <textarea cols="25" rows="6" name="product_mdng_ids" placeholder="insert one or more in new lines"></textarea>
  </div>

  <div class="single-item">
    <label for="product_sap_ids" class="labels">SAP product ids</label>
    <textarea cols="25" rows="6" name="product_sap_ids" placeholder="insert one or more in new lines"></textarea>

  </div>

  <div class="break"></div>

  <div class="single-item">
    <button type="submit">search!</button>
  </div>

</form>
{{/if}}
{{#if entries}}
<div class="container results enabled">

  <span class="labels">orga entity</span>
  <span class="labels">sap product id</span>
  <span class="labels">md product id</span>
  <span class="labels">quantity</span>
  <span class="labels">warehouse GLN</span>
  <span class="labels">stock type</span>
  <span class="labels">storage location</span>

  {{#each entries}}
  <span>{{this.org_entity_id}}</span>
  <span>{{this.product_sap_id}}</span>
  <span>{{this.product_mdng_id}}</span>
  <span>{{this.quantity}}</span>
  <span>{{this.warehouse_gln}}</span>
  <span>{{this.stock_type}}</span>
  <span>{{this.storage_location}}</span>
  {{/each}}
</div>
{{/if}}