<header>
  <h1>User Administration for Stock Provider</h1>
  <p>Add Roles to registered users!</p>
</header>

<div class="container login">
  <h2>current list of users</h2>
  {{#each users}}
  {{this.name}} / {{this.role}}

  <select name="role">
    <option value="registered" {{#if {{this.role}}="registered"}}selected{{/if}}>registered</option>
    <option value="authorized" {{#if {{this.role}}="authorized"}}selected{{/if}}>authorized</option>
    <option value="administrator" {{#if {{this.role}}="authorized"}}selected{{/if}}>administrator</option>
  </select>

  {{/each}}<br>

<button action="" type="submit">save changes</button>

</div>