<header>
  <div class="keep-clear"></div>
  <div class="icon-bar">

    <div class="icon">
      <a href="/search"><img src="/images/search.svg"></a>
    </div>

    {{#if session}}

    <div class="icon">
      <img src="/images/user.svg"><br>
      <label id="whoami">{{session.name}}</label>
    </div>

    <div class="icon">
      <a href="/logout"><img src="/images/sign-out.svg"></a>
    </div>

    {{/if}}
  </div>

  <h1>User Administration for Stock Provider</h1>
  <p>Add Roles to registered users!</p>
</header>

<div class="container login">

  <h2>current list of users</h2>

  <table class="admin">
    <tr>
      <th>username</th>
      <th>current role</th>
      <th>change the role settings</th>
      <th>delete</th>
    </tr>


    {{#each users}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.role}}</td>

      <td>
        <form action="/savechanges/{{this._id}}" method="POST" class="login">

          <select name="role">
            <option value="registered">registered</option>
            <option value="authorized">authorized</option>
            <option value="administrator">administrator</option>
          </select>
          <button type="submit">save changes</button>
        </form>
      </td>
      <td>
        <form action="/delete/{{this._id}}" method="POST">
          <button type="submit">X</button>
        </form>
      </td>

    </tr>
    {{/each}}

  </table>